<div class="jumbotron">
  <h1>Grader</h1>

  <p>
    An easy way to automatically compile, run, and evaluate computer science
    programming assignments.
  </p>

  <p>
    Comes with support for: Java, C, C++, Python, and Ruby.
  </p>

  <p>
    <%= link_to 'Sign up', signup_path, class: 'btn btn-primary btn-lg' %>

    or <%= link_to 'sign in', signin_path %>
  </p>
</div>
