<h1>Grader</h1>
<% if signed_in? %>
  <% @activities.each do |activity| %>
    <%= render_activity(activity, layout: "layouts/activity") %>
  <% end %>
<% else %>
  <p>Grade your Ruby programs and stuff.</p>
<% end %>
