<div class="btn-group-vertical" id="admin-assignment-btn">
    <%= link_to "Edit Assignment", edit_assignment_path(@assignment),
        class: 'btn btn-default' %>
    <%= link_to "Delete Assignment", @assignment, method: :delete,
        class: 'btn btn-default',
        data: {
          confirm: "This action cannot be reversed.",
          confirm_header: "Are you sure you want to delete #{@assignment.name}?",
          confirm_btn_msg: "Delete this assignment"
        } %>
  </ul>
</div>
