<div class="btn-group-vertical" id="details-assignment-btn">
  <%= link_to "View Submissions", assignment_submissions_path(@assignment),
      class: 'btn btn-default' %>

  <%= link_to "View Plagiarism", plagiarism_assignment_path(@assignment),
      class: 'btn btn-default' %>
</div>
