<% provide(:title, @assignment.name) %>

<%= render 'assignment_header' %>
<%= markdown(@assignment.description) %>

<div class="row">
  <div class="col-md-6">
    <h2>Input</h2>
    <%= content_tag(:pre, @assignment.input) %>
  </div>
  <div class="col-md-6">
    <h2>Expected Output</h2>
    <%= content_tag(:pre, @assignment.expected_output) %>
  </div>
</div>
