<% provide(:title, @assignment.name) %>

<div class="pane">
  <%= render 'assignment_header' %>
  <%= markdown(@assignment.description) %>
</div>

<div class="row" id="assignments-inputs-outputs">
  <div class="col-md-6">
    <div class="pane">
      <h2>Input</h2>
      <%= content_tag(:pre, @assignment.input) %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="pane">
      <h2>Expected Output</h2>
      <%= content_tag(:pre, @assignment.expected_output) %>
    </div>
  </div>
</div>
