<% provide(:title, @assignment.name) %>

<div class="pane">
  <%= render 'assignment_header' %>
</div>

<div class="row" id="assignments-inputs-outputs">
  <div class="col-md-6">
    <div class="pane">
      <h2>Input</h2>
      <%= content_tag(:pre, @assignment.input) %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="pane">
      <h2>Expected Output</h2>
      <% if @assignment.should_run_tests %>
        <%= content_tag(:pre, @assignment.expected_output) %>
      <% else %>
        <p>This assignment does not have an expected output.</p>
        <p>
          Your submission will still be executed, but it will be up to the
          teacher to determine if your program has produced the correct output.
        </p>
      <% end %>
    </div>
  </div>
</div>
