<div class="row participation-info">
  <div class="col-md-6">
    taking
    <strong class="course-count">
      <%= @user.enrolled_courses.count %>
    </strong>
    courses
  </div>

  <div class="col-md-6">
    teaching
    <strong class="course-count">
      <%= @user.taught_courses.count %>
    </strong>
    courses
  </div>
</div>
