<div class="participation-info">
  Taking
  <span class="participation-info-value">
    <%= @user.enrolled_courses.count %>
  </span>
  courses &mdash; Teaching
  <span class="participation-info-value">
    <%= @user.taught_courses.count %>
  </span>
  courses

  <hr>
</div>
