<div class="span6">
  <h3>Enrolled courses</h3>
  <ul class="course-list">
    <% @user.enrolled_courses.each do |course| %>
      <li>
        <%= link_to course.name, course %>
        <small>(<%= pluralize(course.students.count, "student") %>)</small>
      </li>
    <% end %>
  </ul>
</div>
<div class="span6">
  <h3>Taught courses</h3>
  <ul class="course-list">
    <% @user.taught_courses.each do |course| %>
      <li>
        <%= link_to course.name, course %>
        <small>(<%= pluralize(course.students.count, "student") %>)</small>
      </li>
    <% end %>
  </ul>
</div>
