<% provide(:title, "All Users") %>
<h1>All Users</h1>

<table class="table table-striped table-bordered list-users-table">
  <tr>
    <th></th>
    <th>Name</th>
  </tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= gravatar_for user, size: 32 %></td>
      <td><%= link_to user.name, user %></td>
    </tr>
  <% end %>
</table>
