<% provide(:title, "All Users") %>
<h1>All Users</h1>

<%= will_paginate %>

<table class="table table-striped table-bordered list-users-table">
  <tr>
    <th></th>
    <th>Name</th>
  </tr>
  <%= render @users %>
</table>

<%= will_paginate %>
