<div class="row">
  <div class="col-md-8 col-md-offset-2 pane">
    <h3>Comments</h3>
    <%= render 'submission_comments' %>
    <%= render 'comment_form' %>

    <%= render 'override_max_attempts_form' %>
  </div>
</div>
