<div class="source-file <%= "main" if source_file.main? %>">
  <div class="source-file-heading">
    <h3 class="source-file-title">
      <%= source_file.code_file_name %>

      <% if source_file.main? %>
        <small>&mdash; main file</small>
      <% end %>
    </h3>
  </div>

  <!-- <%= content_tag(:pre, File.read(source_file.code.path), class: 'source-file-code') %> -->
  <%= highlighted_code(@submission, File.read(source_file.code.path)).html_safe %>
</div>
