<div class="source-file <%= "main" if source_file.main? %>">
  <div class="source-file-heading">
    <h3 class="source-file-title">
      <%= source_file.code_file_name %>

      <% if source_file.main? %>
        <small>&mdash; main file</small>
      <% end %>
    </h3>
  </div>

  <%= highlighted_code(source_file.submission,
    File.read(source_file.code.path)).html_safe %>
</div>
