<% @submission.last_submitted_at.tap do |submit_time| %>
  <% if submit_time %>
    Last submitted at:

    <span class="light-header">
      <%= submit_time.to_formatted_s(:short) %>

      <small>
        (<%= time_ago_in_words(submit_time) %> ago)
      </small>
    </span>
  <% end %>
<% end %>
