<% if @submission.comments.any? %>
  <ul>
    <% @submission.comments.each do |comment| %>
      <li>
        <%= comment.content %>
      </li>
    <% end %>
  </ul>
<% else %>
  <i>There are no comments for this submission.
<% end %>
