<% if current_user.teachers.include?(activity.owner) %>
  <%= fa_icon 'plus 3x fw', class: 'pull-left' %>
  <div class="heading">
    <%= link_to activity.owner.name, activity.owner %>
    created a
    <%= link_to "new assignment", activity.trackable %>
  </div>
  <div class="details">
    <%= activity.trackable.description %>
  </div>
<% end %>
