<% if @course.students.any? %>
  <table class="table table-striped table-bordered list-users-table">
    <tr>
      <th></th>
      <th>Name</th>
    </tr>
    <%= render @course.students %>
  </table>
<% else %>
  <i>There are no students enrolled in this class.</i>
<% end %>
