<% if @course.assignments.any? %>
  <ul class="course-assignment-list">
    <% @course.assignments.each do |assignment| %>
      <li><%= link_to assignment.name, assignment %> - <%= assignment.description %></li>
    <% end %>
  </ul>
<% else %>
  <i>There are no assignments for this course.</i>
<% end %>
