<div class="course-summary row">
  <div class="col-md-1">
    <%= fa_icon 'book 3x', class: "class-icon" %>
  </div>
  <div class="col-md-11">
    <h3><%= link_to course.name, course %></h3>
    <p><%= course.description %></p>
  </div>
</div>
<hr />
