<% if @course.assignments.any? %>
  <ul class="course-assignment-list">
    <% @course.assignments.each do |assignment| %>
      <li>
        <%= render 'shared/assignment_in_list', assignment: assignment %>
      </li>
    <% end %>
  </ul>
<% else %>
  <i>There are no assignments for this course.</i>
<% end %>
