.course-summary {
  p {
    color: $gray-dark;
  }

  .class-icon {
    margin: 20px 12px;
  }
}

.class-icon {
  color: $gray-light;
}

#add-assignment-btn, #enroll-assignment-btn {
  @extend .pull-right;
}

// give some space between the nav and the "about" text.
.course-description {
  margin-top: 10px;
}

// space between this h3 and the nav above it
#students h3 {
  margin-top: 10px;
}
