@import "bootstrap";

// The header takes up 60px from the top.
body {
  margin-top: 60px;
}

/* General */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* forms */
input, textarea {
  width: 100%;
  max-width: 100%;
}

footer {
  hr {
    // http://stackoverflow.com/a/4151954/1462197
    background-color: $grayLighter;
    border: 0 none;
    color: $grayLighter;
    height: 1px;
  }

  ul {
    // Make the footer links stick close to the hr
    margin-top: -15px;
  }

  li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    float: right;

    a {
      color: $grayLight;

      &:hover {
        color: $grayDarker;
      }
    }
  }
}

.debug_dump {
  margin-top: 70px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.list-users-table {
  th:first-of-type {
    // have the gravatar column be very thin
    width: 32px;
  }

  td {
    vertical-align: middle;
  }
}

/* shown for user#show */
.user-info {
  #username {
    margin-bottom: 30px;
  }

  .participation-info {
    font-size: 16px;
    color: $grayLight;

    .participation-info-value {
      color: $gray;
    }

    hr {
      border-top: 1px solid $grayLight;
      border-bottom: 1px solid $grayLighter;

      margin-left: auto;
      margin-right: auto;
      float: none;
      width: 20%;
    }
  }
}

.course-list, .course-assignment-list {
  list-style: none;
  margin-left: 0;

  li {
    padding-top: 5px;
    padding-bottom: 5px;

    border-top: 1px solid $grayLighter;

    &:last-of-type {
      border-bottom: 1px solid $grayLighter;
    }
  }

  small {
    margin-left: 10px;
    color: $grayLight;
  }
}

.course-assignment-list {
  .assignment-description, .assignment-edit {
    display: inline-block;
  }

  .assignment-description {
    width: 90%;
  }

  .assignment-edit {
    float: right;
  }
}

.add-assignment-button {
  margin-bottom: 20px;
}

// For input/output fields that should have a fixed-with font
.code-field {
  font-size: .9em;
  font-family: "Lucida Console", Monaco, monospace;
}
