// The header takes up 60px from the top.
body {
  margin-top: 60px;
}

input[type~=hidden], textarea {
  width: 100%;
}

footer {
  hr {
    // http://stackoverflow.com/a/4151954/1462197
    background-color: $gray-lighter;
    border: 0 none;
    color: $gray-lighter;
    height: 1px;
  }

  ul {
    // Make the footer links stick close to the hr
    margin-top: -15px;
  }

  li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    float: right;

    a {
      color: $gray-light;

      &:hover {
        color: $gray-darker;
      }
    }
  }
}

.debug_dump {
  margin-top: 70px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.course-list, .course-assignment-list {
  list-style: none;
  margin-left: 0;

  li {
    padding-top: 5px;
    padding-bottom: 5px;

    border-top: 1px solid $gray-lighter;

    &:last-of-type {
      border-bottom: 1px solid $gray-lighter;
    }
  }

  small {
    margin-left: 10px;
    color: $gray-light;
  }
}

.course-assignment-list {
  .assignment-description, .assignment-edit {
    display: inline-block;
  }

  .assignment-description {
    width: 90%;
  }

  .assignment-edit {
    float: right;
  }
}

.add-assignment-button {
  margin-bottom: 20px;
}

// For input/output fields that should have a fixed-with font
.code-field {
  font-size: .9em;
  font-family: "Lucida Console", Monaco, monospace;
}

// For activity feeds
.activity {
  margin-top: 5px;

  .details {
    font-style: italic;
    color: $gray-light;
  }
}

// Shows the output and expected results of submissions
pre.output {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

// visual diffs of submissions
// TODO make this into legible sass
.diff{overflow:auto;}
.diff ul{background:#fff;overflow:auto;font-size:13px;list-style:none;margin:0;padding:0;display:table;width:100%;}
.diff del, .diff ins{display:block;text-decoration:none;}
.diff li{padding:0; display:table-row;margin: 0;height:1em;}
.diff li.ins{background:#dfd; color:#080}
.diff li.del{background:#fee; color:#b00}
.diff li:hover{background:#ffc}
// try 'whitespace:pre;' if you don't want lines to wrap
.diff del, .diff ins, .diff span{white-space:pre-wrap;font-family:courier;}
.diff del strong{font-weight:normal;background:#fcc;}
.diff ins strong{font-weight:normal;background:#9f9;}
.diff li.diff-comment { display: none; }
.diff li.diff-block-info { background: none repeat scroll 0 0 gray; }

