// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submission-icon {
  color: $gray-light;
}

#back_to_list_submissions {
  position: absolute;
  left: 15px;
  font-size: $font-size-h2;
}

#delete-submission-button, #force-retest-button {
  width: 100%;
}

#delete-submission-button {
  margin-bottom: 5px;
}

.source-files {
  margin-top: 25px;
}

.source-file {
  @extend .panel-default;

  .source-file-heading {
    @extend .panel-heading;
    border: 1px solid #DDD;
    background-color: $gray-lighter;

    .source-file-title {
      @extend .panel-title;
    }
  }

  .highlight pre {
    @include border-top-radius(0px);
    border-top: 0;
  }
}

$pane-margin: 28px;

#submission-outputs {
  margin-top: $pane-margin;
  margin-bottom: $pane-margin;
}

.diff-expected-actual-output {
  margin-bottom: $pane-margin;
}

// Forms
.btn-remove-sub-file {
  @extend .pull-right;
}

.submit-sub-btn {
  margin-top: 20px;
}
