// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submission-icon {
  color: $gray-light;
}

#back_to_list_submissions {
  position: absolute;
  left: 15px;
  font-size: $font-size-h2;
}

#submission-aside {
  font-size: ceil($font-size-h3 * 0.75);
}

#edit-submission-button {
  @extend .pull-right;
}

.source-file {
  @extend .panel-default;

  .source-file-heading {
    @extend .panel-heading;
    border: 1px solid #DDD;
    background-color: $gray-lighter;

    .source-file-title {
      @extend .panel-title;
    }
  }

  .highlight pre {
    @include border-top-radius(0px);
    border-top: 0;
  }
}

// Forms
.btn-remove-sub-file {
  @extend .pull-right;
}

.submit-sub-btn {
  margin-top: 20px;
}
