<footer>
  <hr />
  <ul>
    <li><small><%= link_to 'About', about_path %></small></li>
    <li><small><%= link_to 'Help', help_path %></small></li>
    <li><small><%= link_to 'Home', root_path %></small></li>
  </ul>
</footer>
