<footer>
  <hr />
  <ul>
    <li><small><%= link_to 'About', '#'%></small></li>
    <li><small><%= link_to 'Help', '#'%></small></li>
    <li><small><%= link_to 'Home', '#'%></small></li>
  </ul>
</footer>
