<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Grader</a>
      <div class="pull-right">
        <ul class="nav">
          <li><a href="#">Sign in</a></li>
        </ul>
      </div>
    </div>
  </div>  
</header>
